.preview{
	display: flex;
	flex-direction: column;
	flex: 1;
	max-width:600px;
	overflow:hidden;
	margin: 0 auto;
}


.nbEditorImage {
	width: 100%;
	position: relative;
	z-index: 99;
}

.imgWrapper {
	font-size: 0;
	position: relative;
	overflow: hidden;
}

.objectsContainer{
	position: absolute;
}