h1{
	font-size: 250%;
}
.wrapper, .split{
	height: 100%;
	overflow:hidden;
}
.wrapper{
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	h1{
		text-align: center;
	}

	
}
.split{
	display: flex;
}
.left{
	flex:1;	
	overflow-y: auto;
	padding-bottom: 30px;
	h1{
		text-align: center;
	}
}
.right{
	flex:0.5;
	overflow-x: hidden;
	overflow-y: auto;
	padding-right: 40px;
	padding-left: 20px;
	padding-bottom: 30px;
}

.buttons{
	display: flex;
	.button{
		flex:1;
		height: 30px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		border-radius: 8px;
		cursor: pointer;
		&.blue{
			background: #218aff;
			color:white;
			border:1px solid #218aff;
		}
		&.space{
			margin-right: 12px;
		}
		&.white{
			background: white;
			color: #218aff;
			border:1px solid #218aff;
		}
		&.disabled{
			background: #a7a7a7;
			color:white;
			border:1px solid #a7a7a7;
			cursor: default;
		}
	}
}

.formError{
	background: #b51818;
	color:white;
	padding: 4px;
	border-radius: 4px;
	margin-bottom: 16px;
}

.thankYou{
	background: white;
	font-size: 85%;
}

@media only screen and (max-width: 800px) {
    .split{
		display: block;
		height: auto;
		margin-bottom: 30px;
		.right{
			margin: 0 auto;
		}
	}
	.wrapper{
		margin-bottom: 30px;
		height: auto;
	}
}

.pdfDownload{
	font-size: 120%;
	margin-top: 20px;
}